body {
  margin: 10px;
}

nav {
  background-color: D1B9BE;
}

main {
  display: flex;
}

main > * {
  flex: 1;
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

form {
  text-align: center;
  border-radius: 4px;
}

.lead {
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  list-style-position: inside;
  list-style-type: circle;
}

.archived span {
  text-decoration: line-through;
}

.container {
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}
